<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CorrelationTopology.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EventTopology.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="StateMachine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CorrelationTopology.Properties.Settings>
      <setting name="HBaseClusterUrl" serializeAs="String">
        <value>https://HBASECLUSTERNAME.azurehdinsight.net/</value>
      </setting>
      <setting name="HBaseClusterUserName" serializeAs="String">
        <value>The cluster admin name</value>
      </setting>
      <setting name="HBaseClusterPassword" serializeAs="String">
        <value>The cluster admin password</value>
      </setting>
      <setting name="HBaseTableName" serializeAs="String">
        <value>SessionInfo</value>
      </setting>
      <setting name="HBaseTableColumnFamily" serializeAs="String">
        <value>cf</value>
      </setting>
      <setting name="HBaseTableColumnNames" serializeAs="String">
        <value>event,time,duration</value>
      </setting>
    </CorrelationTopology.Properties.Settings>
  </userSettings>
</configuration>